{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% csrf_token %}
    <div class="container p-2 w-9/12 m-auto mt-2">
        <div class="d-flex flex-column border border-gray-300 rounded-xl p-5 mt-3">
            <div class="flex justify-between w-[92%] m-auto">
                <h1 class="text-4xl text-center">{{ profile.username }}</h1>
                {% if request.user.username != profile.username and request.user.is_authenticated %}
                    <form action="{% url "profile" profile.username %}" method="post">
                        {% csrf_token %}
                        <input type="submit"
                        {% if is_following %}
                            class="bg-gray-400 hover:bg-gray-500 transition cursor-pointer text-white rounded-lg w-24 h-10"
                            value="Unfollow"
                        {% else %}
                            class="bg-blue-500 hover:bg-blue-600 transition cursor-pointer text-white rounded-lg w-24 h-10"
                            value="Follow"
                        {% endif %}>
                    </form>
                {% endif %}
            </div>
            <div class="flex justify-around text-lg mt-6 mb-2">
                <h2>{{ profile.posts.all.count }} Posts</h2>
                <h2>{{ profile.followers.all.count }} Followers</h2>
                <h2>{{ profile.follows.all.count }} Following</h2>
            </div>
        </div>
        <div>
            {% for post in page_obj %}
            <div>
                <div data-id={{ post.id }} class="post d-flex flex-column border border-gray-300 p-5 mt-3 
                {% if request.user.is_authenticated %} 
                    rounded-t-xl border-b-0
                {% else %}
                    rounded-xl
                {% endif %}
                    ">
                    <a href="{% url "profile" post.user %}"><h4 class="text-xl font-medium mb-3">{{ post.user }}</h4></a>
                    {% if request.user == post.user %}
                        <div class="cursor-pointer text-blue-500 hover:text-blue-600 hover:underline edit" data-url="{% url 'update_post' %}">Edit</div>
                    {% endif %}
                    <div class="content">{{ post.content }}</div>
                    <div class="text-gray-500">{{ post.timestamp }}</div>
                    <div id="like-{{ post.id }}">{{ post.post_likes.count }} Likes</div>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="bg-gray-200 flex justify-around h-10 items-center rounded-b-xl border border-gray-300">
                        <div data-url="{% url 'update_like' %}" data-id={{ post.id }} class="like-button flex gap-2 w-full rounded-b-xl justify-center h-full items-center cursor-pointer hover:bg-gray-300 transition">
                            {% if post.liked %}
                                <img class="w-5 h-5 mt-[2px]" src="{% static 'network/images/coracao.png' %}" data-image="{% static 'network/images/coracao.png' %}" data-image-src="{% static 'network/images/gostar.png' %}" alt="like">
                                Unlike</div>
                            {% else %}
                                <img class="w-5 h-5 mt-[2px]" src="{% static 'network/images/gostar.png' %}" data-image="{% static 'network/images/coracao.png' %}" data-image-src="{% static 'network/images/gostar.png' %}" alt="like">
                                Like</div>
                            {% endif %}
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="text-center" aria-label="Pagination">
            <div class="pagination flex justify-between mt-8 mb-16">
                <div class="flex gap-0">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="pl-3 pr-4 font-medium hover:font-normal text-gray-800 border border-gray-500 rounded-md hover:rounded-md hover:bg-gray-200 transition p-2 flex items-center h-10 gap-2">
                            <img class="w-4 h-4 rotate-180" src="{% static 'network/images/seta.png' %}" alt="left-arrow"> 
                            PREVIOUS</a>
                    {% endif %}
                </div>
                <div class="flex gap-0">
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="pl-4 pr-3 font-medium hover:font-normal text-gray-800 border border-gray-500 rounded-md hover:rounded-md hover:bg-gray-200 transition p-2 flex items-center h-10 gap-2">
                            NEXT
                            <img class="w-4 h-4" src="{% static 'network/images/seta.png' %}" alt="right-arrow"></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/main.js' %}"></script>
{% endblock %}